{
  battGov    = "powersave";
  battTurbo  = "never";
  acGov      = "performance";
  acTurbo    = "auto";
  myHostname = "example;
  myUser = "example";
  myFullName = "Max Mustermann";
  myEmail = "example@mail.com";
  myLuksUUID = "UUID-from-Luks";
}

