@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color text #DFDFDF;
/*@define-color text #cdd6f4;*/
@define-color text-hover #313244;
@define-color subtext0 #a6adc8;
@define-color surface0 #313244;
@define-color blue #89b4fa;
@define-color green #a6e3a1;
@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color pink #f5c2e7;
@define-color sky #89dceb;
@define-color peach #fab387;

* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 18px;
  min-height: 0;
  transition: background-color 0.3s, border-radius 0.3s;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: transparent;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
  background-color: @surface0;
  border-radius: 10px;
  padding: 2px 4px;
  margin-left: 8px;
}

#workspaces button {
  padding: 4px 8px;
  margin: 2px;
  border-radius: 32px;
  color: @subtext0;
}

#workspaces button:hover {
  background: rgba(137, 180, 250, 0.2);
}

#workspaces button.active {
  background-color: @blue;
  color: @crust;
  border-radius: 8px;
}

#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button:last-child {
  margin-right: 0;
}

#clock,
#battery,
#pulseaudio,
#backlight,
#tray,
#custom-launcher,
#window,
#language {
  background-color: @surface0;
  padding: 6px 12px;
  margin: 0 2px;
  border-radius: 24px;
  color: @text;
}

#clock:hover,
#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#tray:hover,
#custom-launcher:hover,
#window:hover,
#language:hover {
  background-color: rgba(137, 180, 250, 0.76); /* @blue with alpha */
  color: @text-hover;
  border-radius: 8px;
}

#battery {
  margin-right: 8px;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#pulseaudio.muted {
  color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

tooltip {
  background-color: @mantle;
  color: @text;
  border-radius: 8px;
  padding: 6px;
  border: 1px solid @blue;
}

