{
  battGov    = "powersave";
  battTurbo  = "never";
  acGov      = "performance";
  acTurbo    = "auto";
  hostname = "example";
  user = "example";
  fullName = "Max Mustermann";
  email = "example@mail.com";
  luksUUID = "UUID-from-Luks";
}
