{
  battGov    = "powersave";
  battTurbo  = "never";
  acGov      = "performance";
  acTurbo    = "auto";
  Hostname = "example";
  User = "example";
  FullName = "Max Mustermann";
  Email = "example@mail.com";
  LuksUUID = "UUID-from-Luks";
}
